<!DOCTYPE html>
<html>
  <head>
    <title><%= "#{@team.name} stats"%></title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

	 <nav>
    <div class="nav-wrapper">
      <a href="#!" class="brand-logo">Stats</a>
      <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
      <ul class="right hide-on-med-and-down">
        <li><a href=#>TOP</a></li>
        <li><a href=#>Tournaments</a></li>
        <!-- <li><a href=#>Players</a></li> -->
      </ul>
      <ul class="side-nav" id="mobile-demo">
        <li><a href=#>TOP</a></li>
        <li><a href=#>Tournaments</a></li>
        <!-- <li><a href=#>Players</a></li> -->
      </ul>
    </div>
  </nav>

  <body>
    <%= yield %>
    <script>
      // Initialize collapse button
      $(".button-collapse").sideNav();
      // Initialize collapsible (uncomment the line below if you use the dropdown variation)
      //$('.collapsible').collapsible();
    </script>
  </body>
</html>
